New Code

In [2]:
# The code was removed by Watson Studio for sharing.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,0
0,2004,2,12,4,633,635,935,930,B6,165,...,17,0,nil,0,0,0,0,0,0,0
1,2004,2,16,1,2115,2120,2340,2350,B6,199,...,23,0,nil,0,0,0,0,0,0,0
2,2004,2,18,3,700,700,817,820,B6,2,...,26,0,nil,0,0,0,0,0,0,0
3,2004,2,19,4,1140,1145,1427,1420,B6,67,...,19,0,nil,0,0,0,0,0,0,0
4,2004,2,21,6,936,935,1036,1035,B6,68,...,16,0,nil,0,0,0,0,0,0,0

In [3]:
df_data_1.head(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,0
0,2004,2,12,4,633,635,935,930,B6,165,...,17,0,nil,0,0,0,0,0,0,0
1,2004,2,16,1,2115,2120,2340,2350,B6,199,...,23,0,nil,0,0,0,0,0,0,0
2,2004,2,18,3,700,700,817,820,B6,2,...,26,0,nil,0,0,0,0,0,0,0
3,2004,2,19,4,1140,1145,1427,1420,B6,67,...,19,0,nil,0,0,0,0,0,0,0
4,2004,2,21,6,936,935,1036,1035,B6,68,...,16,0,nil,0,0,0,0,0,0,0

In [4]:
df_data_1.tail(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,0
14993,2005,7,18,1,1604,1607,1707,1700,MQ,3320,...,9,0,nil,0,0,0,0,0,0,0
14994,2005,7,7,4,1946,1824,2051,1919,MQ,3398,...,10,0,nil,0,0,3,10,0,79,0
14995,2005,7,28,4,905,805,955,858,MQ,3448,...,14,0,nil,0,57,0,0,0,0,0
14996,2005,7,10,7,1534,1534,1702,1657,MQ,3460,...,14,0,nil,0,0,0,0,0,0,0
14997,2005,7,27,3,648,652,854,845,MQ,3496,...,11,0,nil,0,0,0,0,0,0,0